<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="header">
    </div>
    <div class="pagearea">
        {{- block "main" . }}{{- end }}
    </div>
    <div class="footer">
    </div>
  </body>
</html>
