/***************************************************************************************************
 * Common CSS for pages of all types
 **************************************************************************************************/

/* -----------------------------------------------------------------------------------------------
 * Viewport Settings
 * -----------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  counter-reset: h1;
  line-height: 1.5;
}

/* -----------------------------------------------------------------------------------------------
 * Text and Links
 * -----------------------------------------------------------------------------------------------*/
a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

a:link {
  color: #366ec8;
}

a:visited {
  color: #537ae6;
}


/***************************************************************************************************
 * CSS For Header Numbering
 **************************************************************************************************/

/* -----------------------------------------------------------------------------------------------
 * Formatting for Headers
 * -----------------------------------------------------------------------------------------------*/
h1::after {
  margin: 0;
  display: block;
  content: "";
  border-bottom: .15rem solid #bbbbbb;
  width: 100%;
  padding-bottom: 0.5ex;
}

h1 {
  text-align: left;
  font-size: 2.4em;
  font-weight: bold;
  margin-top: 1.5em;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

h2 {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  margin-top: 1.5em;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

h3 {
  text-align: left;
  font-size: 1.8em;
  font-weight: bold;
  word-wrap: break-word;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h4 {
  text-align: left;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 1.5em;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

h5 {
  text-align: left;
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  word-wrap: break-word;
}

h6 {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.5em;
  word-wrap: break-word;
  margin-bottom: 0.5em;
}

/* -----------------------------------------------------------------------------------------------
 * Auto Numbering
 * -----------------------------------------------------------------------------------------------*/
article h1 {counter-reset : h2}
article h2 {counter-reset : h3}
article h3 {counter-reset : h4}
article h4 {counter-reset : h5}
article h5 {counter-reset : h6}


article[class*=autonumber] h1:before {
  content : counter(h1,decimal) ". ";
  counter-increment : h1;
}

article[class*=autonumber] h2 {display: block;}
article[class*=autonumber] h3 {display: block;}
article[class*=autonumber] h4 {display: block;}
article[class*=autonumber] h5 {display: block;}
article[class*=autonumber] h6 {display: block;}

article[class*=autonumber] h2:before {
  content : counter(h1,decimal) "." counter(h2,decimal) ". ";
  counter-increment : h2;
}

article[class*=autonumber] h3:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) ". ";
  counter-increment : h3;
}
article[class*=autonumber] h4:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
  counter-increment : h4;
}

article[class*=autonumber] h5:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
  counter-increment : h5;
}

article[class*=autonumber] h6:before {
  content : counter(h1,decimal) "." counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
  counter-increment : h6;
}

article h2.nocount:before,
article h3.nocount:before,
article h4.nocount:before,
article h5.nocount:before,
article h6.nocount:before {
  content : "";
  counter-increment : none;
}

.toc[class*=autonumber] ul { counter-reset: item;  list-style-type: none; }
.toc[class*=autonumber] li a:before { content: counters(item, ".") ". "; counter-increment: item }



