
/* ------------------------------------------------------------------------------------------------
 * Banner
 * -----------------------------------------------------------------------------------------------*/
.banner {
  position: relative;
  border-top: 0.5vh solid;
  border-image-source: linear-gradient(90deg, #61739c,  #61739c);
  border-image-slice: 1;
  z-index: 2;
}

.fixed-banner {
  border-top: 0.25vh solid;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar-banner {
  background-color: #629bb3;
  vertical-align: middle;
  line-height: 2em;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 2vh 0 rgba(0,0,0,1);
}


/* -----------------------------------------------------------------------------------------------
 * Page Area
 * -----------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1441px) {
  .pagearea {
    text-align: justify;
    min-height: 89vh;
    width: 60em;
    margin: 10vh auto auto auto;
  }
}

@media only screen and (max-width: 1440px) {
  .pagearea {
    text-align: justify;
    margin: 8ex auto auto auto;
    width: 95%;
  }
}

/*
 * This features ensures that the anchors are offset from the top of the page by 10ex
 * when clicked. This is to ensure that the anchor does not get hidden behind the navbar.
 */
html {
  scroll-padding-top: 10ex;
}


/* -----------------------------------------------------------------------------------------------
 * Navbar and Header
 * -----------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1441px) {
  .mobile-only {
    display: none;
  }

  .navbar-banner .version-selector {
    margin-left: 4em;
    float: left;
    height: 2em;
  }

  .navbar-banner .version-selector .menu {
    position: absolute;
    top: 2em;
    display: block;
    background-color: #629bb3;
  }

  .navbar-banner .version-selector .radiobutton {
  }

  .navbar-banner .version-selector .menu ul {
    list-style-type: none;
    margin: 0;
  }

  .navbar-banner .version-selector .menu li {
    background-color: #629bb3;
    width: fit-content;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    display: flex
  }

  .navbar .logo {
    padding: 0.25em 0.5em 0.25em 0.5em;
    margin: 0px 0px 0px 0px;
    line-height: 1.5em;
    height : 1.5em;
  }

  .navbar .menu {
    display: flex;
    flex: 2;
    line-height: 2em;
    margin: 0px 0px 0px 1%;
    padding: 0 0 0 0em;
  }

  .navbar .menu ul {
    list-style-type: none;
  }

  .navbar .menu li {

    background-color: #629bb3;
    width: fit-content;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .navbar .menu li a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
  }

  .navbar .menu li[class*="haschild"] {
    padding-right: 1em;
  }



  .navbar .menu li a[class*="haschild"] {
    padding-right: 0em;
  }

  .navbar .menu li a:hover {
    background-color: #4a7688;
  }

  .navbar .menu .submenu {
    display: none;
  }

  .navbar .menu .submenu ul {
    list-style-type: none;
    display: block;
    padding: 0;
    border-top: 4px solid #4a7688;
  }

  .navbar .menu .submenu li {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    border-top: 1px solid #4a7688;
  }

  .navbar .menu .submenu li a {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0.5em 0 0.5em 0;
  }

  .navbar .menu .submenu-btn.checkbox {
    display: none;
  }

  .navbar .menu li label[class*="submenu-btn"] {
    padding: 0 0.5em 0 0.5em;
    width: 1em;
    background-color: #6bacc5;
    cursor: pointer;
  }

  .navbar .menu .submenu-btn:checked ~ label {
    background-color: #4a7688;
  }

  .navbar .menu .submenu-btn:checked ~ label img {
    transform: rotate(180deg) translateY(0.125em);
  }

  .navbar .menu .submenu-btn:checked ~ .submenu {
    top: 2em;
    display: block;
    position: absolute;
    width: 10%;
  }

  .navbar .search {
    text-align: right;
    width: 40%;
    float: right;
    margin: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0em;
    gap: 0;
  }

  .navbar .search input {
    width: calc(100% - 4em);
    margin: 0;
    background: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    padding: 2px 10px 2px 10px;
    border: none;
    border-radius: 0.2em 0 0 0.2em;
  }

  .navbar .search button {
    text-align: center;
    width: 2em;
    border-radius: 0 0.2em 0.2em 0;
    padding: 2px 0 2px 0;
    margin: 0;
    background: #eeeeee;
    font-size: 1em;
    line-height: 1.5em;
    border: none;
    cursor: pointer;
  }




}

@media only screen and (max-width: 1440px) {
  .desktop-only {
    display: none;
  }

  .navbar {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
  }


  .navbar .horizontal-menu {
    display: flex;
    float: left;
    line-height: 2.5em;
    width: 90%;
  }

  .navbar .horizontal-menu .logo {
    padding: 0.5em;
    margin: 0px 0px 0px 0px;
    line-height: 2.5em;
    height : 2.5em;
  }

  .navbar .horizontal-menu .search {
    text-align: center;
    flex: 2;
    margin: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    gap: 0;
    line-height: 2.5em;
  }

  .navbar .horizontal-menu .search input {
    width: calc(100% - 4em);
    margin: 0;
    background: #ffffff;
    font-size: 1em;
    line-height: 2em;
    padding: 2px 10px 2px 10px;
    border: none;
    border-radius: 0.2em 0 0 0.2em;
  }

  .navbar .horizontal-menu .search button {
    text-align: center;
    max-width: 2em;
    width: 2em;
    border-radius: 0 0.2em 0.2em 0;
    padding: 2px 0 2px 0;
    margin: 0;
    background: #eeeeee;
    font-size: 1em;
    line-height: 2em;
    border: none;
    cursor: pointer;
  }

  .navbar .menu-btn {
    display: none;
  }
  .navbar .menu-icon {
    cursor: pointer;
    user-select: none;
    margin-top: 1.5em;
    float: right;
    height: 2em;
    max-width: 10%;
  }
  .navbar .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .navbar .menu-icon .nav-icon:before,
  .navbar .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .navbar .menu-icon .nav-icon:before {
    top: 5px;
  }

  .navbar .menu-icon .nav-icon:after {
    top: -5px;
  }

  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
  }

  .navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
  }

  .navbar .dropdown-menu {
    clear: both;
    display: none;
    color: #ffffff;
  }

  .navbar .dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    border-top: 4px solid #4a7688;
  }

  .navbar .dropdown-menu li {
    padding: 0 0.5em 0 0.5em;
    background-color: #629bb3;
    border-top: 1px solid #4a7688;
  }

  .navbar .dropdown-menu a {
    display: block;
    color: #ffffff;
    text-decoration: none;
  }

  .navbar .menu{
    padding: 0;
    margin: 0;
  }

  .navbar .menu-btn:checked ~ .dropdown-menu {
    display: block;
  }


}

/* -----------------------------------------------------------------------------------------------
 * Footer
 * -----------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 1440px) {
  .footer {
    background-color: #e9e9e9;
    width: 100%;
    padding-bottom: 0vh;
    padding-top: 0vh;
    font-size: 1em;
    text-align: center;
  }

  .footer .image {
    height: 1em;
  }
}


@media only screen and (min-width: 1441px) {
  .footer {
    background-color: #e9e9e9;
    width: 100%;
    padding-bottom: 0vh;
    padding-top: 0vh;
    font-size: 1em;
    text-align: center;
  }

  .footer .image {
    height: 1em;
  }
}
