<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "_software/head.html" . -}}
  </head>
  <body>
    <div class="header">
      {{- partial "_software/header.html" . -}}
    </div>
    <div class="pagearea" >
      {{- block "main" . }}{{- end }}
    </div>
    <div class="footer">
    </div>
  </body>
</html>
