<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $title := print .Site.Title " | " .Title }}
<title>{{ $title }}</title>

<link rel="stylesheet" type="text/css" href="{{ "/css/silari/_common.css" }}">
<link rel="stylesheet" type="text/css" href="{{ "/css/silari/_software.css" }}">
<script id="silari.heading.autolink" async src="{{ "/js/_common/heading.link.js" }}">
</script>


<script>
  if(window.matchMedia('only screen and (min-width: 1441px)')){
    document.addEventListener('click', function(ev) {
      if (  !ev.target.matches('.navbar .menu .submenu-btn')
        &&  !ev.target.matches('.navbar .menu .submenu-btn.label')
        &&  !ev.target.matches('.navbar .menu .submenu-btn.label img')
      )
      {
        submenu_btn_array = document.querySelectorAll('.navbar .menu .submenu-btn');
        Array.prototype.forEach.call(submenu_btn_array, function(btn) {
          btn.checked = false;
        });
      }
    }, true);
  }
</script>

