<div class="banner"></div>
<div class="fixed-banner"></div>
<div class="navbar-banner mobile-only">
  <div class="navbar">
    <div class="horizontal-menu">
      <div class="logo">
        <a href="/">
          <img height="100%" src="/favicon.ico" alt="logo" />
        </a>
      </div>
      <div class="search">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search"><button type="submit"> 🔍 </button>
        </form>
      </div>
    </div>
    <input class="menu-btn" type="checkbox" id="dropdown-button" />
    <label class="menu-icon" for="dropdown-button"><span class="nav-icon"></span></label>
    <div class="dropdown-menu">
      <ul class="menu" >
        {{ range .Site.Menus.main }}
        <li>
          <a
              class="nav-link"
              href="{{ .URL }}"
              onclick="(function(){document.getElementById('menu-btn').checked = false;})()"
              >
              {{ $text := print .Name | safeHTML }}
              {{ $text }}
          </a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
<div class="navbar-banner desktop-only">
  <div class="navbar">
    <div class="logo">
      <a href="/">
        <img height="100%" src="/favicon.ico" alt="logo" />
      </a>
    </div>
    <div class="menu">
      <ul class="menu" >
        {{ range .Site.Menus.main }}
        <li class="{{ if .HasChildren }} haschild {{ end }}">
            {{ if .HasChildren }}
            <input class="submenu-btn checkbox" type="checkbox" id="menu.{{ urlize .Name }}"
            onclick="(function(){
             submenu_btn_array = document.querySelectorAll('.navbar .menu .submenu-btn');
             Array.prototype.forEach.call(submenu_btn_array, function(btn) {
               if (btn.id != 'menu.{{ urlize .Name }}'){
                 btn.checked = false;
               }
             });
            })()"
            />
            {{ end }}
          <a
              class="nav-link  {{ if .HasChildren }} haschild {{ end }}"
              href="{{ .URL }}"
          >
              {{ $text := print .Name | safeHTML }}
              {{ $text }}
          </a>
            {{ if .HasChildren }}
            <label class="submenu-btn label" for="menu.{{ urlize .Name }}">
              <img height="10em" src="/image/silari/down-white-triangle.svg" alt="down-triangle" />
            </label>
            <div class="submenu">
              <ul>
                {{ range .Children }}
                <li>
                  <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
              </ul>
            </div>
            {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="search">
      <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search"><button type="submit"> 🔍 </button>
      </form>
    </div>
  </div>
</div>
